<section class="win-comp">
  <div class="diff">
    <span>Difficulty</span>
    <span class="difficulty">{{game.difficulty}}</span>
  </div>
  <div class="word">
    <div *ngFor="let item of game.wordArray" class="letter-wrapper">
      <span class="letter">{{item.letter}}</span>
    </div>
  </div>
  <div class="remaining-guesses">
    <span>Remaining Guesses</span><br />
    <span class="remaining-num">
      {{game.remainingGuesses}}
    </span>
  </div>
  <div class="bad-and-current">
    <div class="guess-title">
      You won!
    </div>
    <div class="winner-wrapper">
      <div class="all-guess-wrapper">
        <div *ngFor="let letter of game.badGuessArray" class="all-guess">
          <span class="all-guess-letter">{{letter}}</span>
        </div>
      </div>
      <form [formGroup]="nameForm" class="winner-form">
        Name:
        <input
          formControlName="nameInput"
          class="name-input"
          name="nameInput"
          type="text"
          size="10"
          placeholder="(10-chars, a-z)"
          autofocus />
        <input
          type="submit"
          value="Go"
          class="name-submit"
          [attr.disabled]="!nameIsValid ? 'disabled' : null"
          (click)="submitName(nameForm.value.nameInput)" />
      </form>
      <br />
      <span>
        <a href="{{game.dictionary}}" target="_blank">Define: {{game.word}}</a>
      </span>
      <br />
      <span>
        <a class="return" (click)="utils.startClean()">Return</a>
      </span>
    </div>
  </div>
</section>