<section class="play-comp">
  <div class="diff">
    <span>Difficulty</span><br />
    <span class="difficulty">{{game.difficulty}}</span>
  </div>
  <div class="word">
    <div *ngFor="let item of game.wordArray">
      <span *ngIf="item.revealed" class="letter">{{item.letter}}</span>
      <span *ngIf="!item.revealed"  class="letter">_</span>
    </div>
  </div>
  <div class="remaining-guesses">
    <span>Remaining Guesses</span><br />
    <span class="remaining-num">
      {{game.remainingGuesses}}
    </span>
  </div>
  <div class="bad-and-current">
    <div [formGroup]="guessForm" class="guess-title">
      Type a guess: <input formControlName="guessInput" name="guessInput" />
      <input type="submit" value="Go" (click)="submitGuess(guessForm.value.guessInput)"/>
    </div>
    <div *ngFor="let letter of game.badGuessArray" class="all-guess-wrapper">
      <span class="all-guess-letter">{{letter}}</span>
    </div>
  </div>
</section>