.welcome-comp {
  display: flex;
  width: 100%;
  height: 90vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h1 {
    font-size: 3rem;
    text-align: center;
  }

  a {
    font-size: 2rem;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
  
  .button-wrapper {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 600px) {
      flex-direction: row;
    }

    .button {
      cursor: pointer;
      width: 170px;
      height: 70px;
      font-size: 2.5rem;
      border: 3px solid black;
      margin: 5px;
      background: white;
      outline: none;
      text-align: center;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    .easy {
      color: green;
    }

    .easy:hover {
      color: white;
      background: green;
      border-color: green;
    }

    .normal {
      color: blue;
    }

    .normal:hover {
      color: white;
      background: blue;
      border-color: blue;
    }

    .hard {
      color: red;
    }

    .hard:hover {
      color: white;
      background: red;
      border-color: red;
    }
  }

  .bottom-menu {
    margin-top: 50px;
  }

}