<section class="welcome-comp">
  <h1>Play the game?</h1>
  <div class="button-wrapper">
    <input class="button easy" (click)="startGame('Easy')" type="submit "name="play easy" value="Easy">
    <input class="button normal" (click)="startGame('Normal')" type="submit " name="play normal" value="Normal">
    <input class="button hard" (click)="startGame('Hard')" type="submit " name="play hard" value="Hard">
  </div>
  <div class="bottom-menu">
    <a routerLink="/winners">Winners</a>
  </div>
</section>